<!DOCTYPE html>
<html>
<head>
    <title>Admin Index</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <p>You are viewing the admin index page.</p>
    <p>Your role is: @ViewBag.Role</p>
</body>
</html>