@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<p>Используйте URL с параметром role для входа, например:</p>
<ul>
    <li><a href="/?role=user">/role=user</a></li>
    <li><a href="/?role=admin">/role=admin</a></li>
</ul>