<!DOCTYPE html>
<html>
<head>
    <title>User Index</title>
</head>
<body>
    <h1>Welcome, User!</h1>
    <p>You are viewing the user index page.</p>
    <p>Your role is: @ViewBag.Role</p>
</body>
</html>
